<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
<body>
<nav 
  id="navbar" 
  class="navbar">
  <a class="navbar-brand" href="#">
    <div class="logo logo-bg">ngFilmes</div>
  </a>
</nav> 
<div class="container-fluid">
  <div id="main">
    <app-list-view></app-list-view>
  </div>
</div>
<footer class="footer mt-auto py-3"><div class="container">
  <span class="float-right"><a href="http://github.com/bfdurieux"><img src="../assets/GitHub-Mark-32px.png"></a></span>
  <span class="text-muted float-right mr-4">If I had a copyright it would go here®</span>
</div>  
</footer>
</body>